@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
	--light-red: hsl(356, 100%, 66%);
	--very-light-red: hsl(355, 100%, 74%);
	--very-dark-blue: hsl(208, 49%, 24%);

	--white: hsl(0, 0%, 100%);
	--grayish-blue: hsl(240, 2%, 79%);
	--very-dark-grayish-blue: hsl(207, 13%, 34%);
	--very-dark-black-blue: hsl(240, 10%, 16%);

	--gradient-very-light-red: hsl(13, 100%, 72%);
	--gradient-light-red: hsl(353, 100%, 62%);
	--gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
	--gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);

	--font-default: 16px;

	--font-overpass: 'Overpass', sans-serif;
	--font-ubuntu: 'Ubuntu', sans-serif;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: var(--font-default);
	font-family: var(--font-overpass);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	color: var(--very-dark-blue);
}

/* Class General */
.container {
	max-width: 540px;
	padding: 0 1rem;
}

.button {
	border: none;
	border-radius: 50px;
	padding: 1.3rem 1.6rem;
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
}

.button--primary {
	background: linear-gradient(
		90deg,
		var(--gradient-very-light-red) 0%,
		var(--gradient-light-red) 100%
	);
	color: var(--white);
}

.button--primary:hover {
	background: var(--white);
	border: 2px solid var(--light-red);
	color: var(--light-red);
}

.button--secondary {
	background-color: var(--white);
	color: var(--light-red);
}

.button--secondary:hover {
	background: var(--very-light-red);
	color: var(--white);
}

.button--light {
	background-color: transparent;
	color: var(--white);
	border: 2px solid var(--white);
}

.button--light:hover {
	background-color: var(--white);
	color: var(--light-red);
}

/* Utilities */

.mt-0,
.m-0 {
	margin-top: 0 !important;
}

.mb-0,
.m-0 {
	margin-bottom: 0 !important;
}

.ml-0,
.m-0 {
	margin-left: 0 !important;
}

.mr-0,
.m-0 {
	margin-right: 0 !important;
}

.pt-0,
.p-0 {
	padding-top: 0 !important;
}

.pb-0,
.p-0 {
	padding-bottom: 0 !important;
}

.pl-0,
.p-0 {
	padding-left: 0 !important;
}

.pr-0,
.p-0 {
	padding-right: 0 !important;
}

/* Navbar */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 3rem 1.7rem 0.5rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.nav.fixed {
	padding-top: 1.7rem;
	background-color: var(--gradient-light-red);
	box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.4);
	/* background:linear-gradient(135deg, var(--gradient-very-light-red) 0%, var(--gradient-light-red) 100%); */
}

.nav.nav-footer {
	opacity: 0;
	visibility: hidden;
}

.nav .nav__logo .nav_logo--img {
	display: block;
	margin: auto;
}

.nav .nav__menu {
	background-color: var(--white);
	width: 50px;
	height: 50px;
	padding: 0.75rem;
	border-radius: 50%;
	outline: 0;
	border: 0;
	box-shadow: none;
	cursor: pointer;
}

.nav .nav__menu .nav__menu--hamburguer__bar {
	width: 95%;
	height: 2px;
	outline: 0;
	display: block;
	border-radius: 1px;
	background-color: var(--very-dark-blue);
	margin-bottom: 5px;
	transition: all 0.2s ease;
}

.nav .nav__menu .nav__menu--hamburguer__bar:nth-child(2) {
	width: 75%;
}

.nav .nav__menu .nav__menu--hamburguer__bar:last-child {
	width: 55%;
	margin-bottom: 0;
}

.nav .nav__menu:hover .nav__menu--hamburguer__bar,
.nav .nav__menu:focus .nav__menu--hamburguer__bar {
	width: 100%;
}

.nav .nav__menu.closeMenu .nav__menu--hamburguer__bar {
	width: 100%;
}

.nav .nav__menu.closeMenu .nav__menu--hamburguer__bar:first-child {
	transform: translateY(7px) rotate(45deg);
}

.nav .nav__menu.closeMenu .nav__menu--hamburguer__bar:nth-child(2) {
	opacity: 0;
}

.nav .nav__menu.closeMenu .nav__menu--hamburguer__bar:last-child {
	transform: translateY(-7px) rotate(-45deg);
}

.nav .nav__links {
	flex: 1 0 100%;
	background-color: var(--white);
	border: none;
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: var(--very-dark-blue);
	height: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.nav .nav__links.active {
	margin: 1rem 0;
	height: auto;
	opacity: 1;
}

.nav .nav__links:not(.active),
.nav .nav__links:not(.active) .nav__links--list {
	display: none;
}

.nav .nav__links .nav__links--list {
	margin: 2rem 0;
	padding: 0 1.5rem;
	transition: all 0.3s ease-in-out;
}

.nav
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--item__separator {
	background-color: var(--grayish-blue);
	margin: 2rem 0;
}

.nav
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.8rem;
	cursor: pointer;
}

.nav
	.nav__links
	.nav__links--list
	.nav__links--list__item.active
	.nav__links--list__item--sublist {
	display: block;
}

.nav
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--link
	img {
	margin-left: 0.5rem;
	min-width: 0.8rem;
}

.nav
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--sublist {
	background-color: var(--grayish-blue);
	padding: 1rem 0;
	display: none;
}

.nav
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--sublist
	.nav__links--list__item--sublist__item {
	margin: 1.5rem 0;
}

.nav .nav__links .nav__links--list .nav__links--list__item--footer {
	margin-top: 1.5rem;
	cursor: pointer;
}

/* Header */

.header {
	width: 100%;
	height: 90vh;
	margin-bottom: 10vh;
	background: linear-gradient(
		135deg,
		var(--gradient-very-light-red) 0%,
		var(--gradient-light-red) 100%
	);
	border-bottom-left-radius: 120px 100px;
	border: none;
	position: relative;
	overflow: hidden;
}

.header::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/bg-pattern-intro.svg) no-repeat left;
	background-position: 40%;
	background-size: 400%;
	filter: brightness(1.1);
}

.header .header__content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: var(--font-overpass);
}

.header .header__content .header__content--title {
	font-size: 2.3rem;
	margin-bottom: 1.5rem;
	padding: 0.5rem;
	color: var(--white);
}

.header .header__content .header__content--subtitle {
	font-weight: 300;
	padding: 0.5rem;
	color: var(--white);
}

.header .header__content .header__content--buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-top: 5rem;
}

/* Content section*/
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.section .section__header {
	width: 100%;
}

.section .section__header .section__header--title {
	font-size: 1.7rem;
	margin: 1.5rem 0;
	padding: 0 1.5rem;
}

.section .section__content {
	margin-top: 1rem;
	padding: 1rem 2.5rem;
	display: flex;
	flex-direction: column;
}

.section .section__content .section__content--section {
	margin: 1.5rem 0;
}

.section
	.section__content
	.section__content--section
	.section__content--section__title {
	font-size: 1.7rem;
}

.section
	.section__content
	.section__content--section
	.section__content--section__text {
	font-size: 1rem;
	line-height: 25px;
	color: var(--very-dark-grayish-blue);
}

/* Section with image */
.ilustrator {
	margin-top: 5rem;
	height: 100vh;
	position: relative;
}

.ilustrator .ilustrator__components {
	position: absolute;
	top: -5vh;
	z-index: 9999;
}

.ilustrator__info {
	position: relative;
	background: linear-gradient(
		135deg,
		var(--gradient-very-dark-gray-blue) 0%,
		var(--gradient-very-dark-desaturated-blue) 100%
	);
	border-top-right-radius: 120px;
	border-bottom-left-radius: 120px;
	overflow: hidden;
}

.ilustrator__info::before {
	content: '';
	position: absolute;
	top: -38%;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/bg-pattern-circles.svg) no-repeat center center;
	background-size: 160%;
}

.ilustrator__info.section__content {
	height: 80%;
	margin: auto auto 3rem;
}

.ilustrator__info.section__content .section__content--section {
	margin-top: auto;
	margin-bottom: calc(5rem + 0.5vh);
}

.ilustrator__info.section__content
	.section__content--section
	.section__content--section__title {
	position: relative;
	color: var(--white);
	font-size: 2.5rem;
}

.ilustrator__info.section__content
	.section__content--section
	.section__content--section__text {
	color: var(--white);
}

/* Footer */

.footer {
	background-color: var(--very-dark-black-blue);
	color: var(--white);
	text-align: center;
	padding: 6rem 2rem 5rem;
	display: flex;
	flex-direction: column;
	border-top-right-radius: 120px;
}

.footer .footer__header {
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
}

.footer .footer__header img {
	display: block;
	margin: auto;
}

.footer .footer__content {
	margin-top: 3rem;
}

.footer .footer__content .footer__content--list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer .footer__content .footer__content--list .footer__content--list__item {
	margin-bottom: 3.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--white);
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item:last-child {
	margin-bottom: 0;
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item
	.footer__content--list__item--sublist {
	margin-top: 2rem;
	font-weight: 300;
	color: var(--grayish-blue);
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item
	.footer__content--list__item--sublist
	.footer__content--list__item--sublist__item {
	margin: 0.5rem 0;
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item
	.footer__content--list__item--sublist
	.footer__content--list__item--sublist__item:last-child {
	margin-bottom: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
	background-color: var(--very-dark-black-blue);
	color: var(--grayish-blue);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
