@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
	--light-red: hsl(356, 100%, 66%);
	--very-light-red: hsl(355, 100%, 74%);
	--very-dark-blue: hsl(208, 49%, 24%);

	--white: hsl(0, 0%, 100%);
	--grayish-blue: hsl(240, 2%, 79%);
	--very-dark-grayish-blue: hsl(207, 13%, 34%);
	--very-dark-black-blue: hsl(240, 10%, 16%);

	--gradient-very-light-red: hsl(13, 100%, 72%);
	--gradient-light-red: hsl(353, 100%, 62%);
	--gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
	--gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);

	--font-default: 16px;

	--font-overpass: 'Overpass', sans-serif;
	--font-ubuntu: 'Ubuntu', sans-serif;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: var(--font-default);
	font-family: var(--font-overpass);
	overflow-x: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	color: var(--very-dark-blue);
}

/* Class General */
.container {
	max-width: 540px;
	padding: 0 1rem;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 1200px;
	}
}

.button {
	border: none;
	border-radius: 50px;
	padding: 1rem 2rem;
	font-size: 0.9rem;
	font-weight: bold;
	cursor: pointer;
}

.button--primary {
	background: linear-gradient(
		90deg,
		var(--gradient-very-light-red) 0%,
		var(--gradient-light-red) 100%
	);
	color: var(--white);
}

.button--primary:hover {
	background: var(--white);
	color: var(--light-red);
}

.button--secondary {
	background-color: var(--white);
	color: var(--light-red);
}

@media (min-width: 768px) {
	.button--secondary-md {
		background: var(--white);
		color: var(--light-red);
	}
}

.button--secondary:hover,
.button--secondary-md:hover {
	background: var(--very-light-red);
	color: var(--white);
}

.button--light {
	background-color: transparent;
	color: var(--white);
	border: 2px solid var(--white);
}

.button--light:hover {
	background-color: var(--white);
	color: var(--light-red);
}

/* Utilities */

.mt-0,
.m-0 {
	margin-top: 0 !important;
}

.mb-0,
.m-0 {
	margin-bottom: 0 !important;
}

.ml-0,
.m-0 {
	margin-left: 0 !important;
}

.mr-0,
.m-0 {
	margin-right: 0 !important;
}

.pt-0,
.p-0 {
	padding-top: 0 !important;
}

.pb-0,
.p-0 {
	padding-bottom: 0 !important;
}

.pl-0,
.p-0 {
	padding-left: 0 !important;
}

.pr-0,
.p-0 {
	padding-right: 0 !important;
}

.d-md-block {
	display: none;
}

@media (min-width: 768px) {
	.d-md-block {
		display: block;
	}

	.d-sm-block {
		display: none;
	}
}

/* Navbar */

.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	transition: all 0.3s ease-in-out;
	width: 100%;
}

.nav.fixed {
	background-color: var(--gradient-light-red);
	box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.4);
	/* background:linear-gradient(135deg, var(--gradient-very-light-red) 0%, var(--gradient-light-red) 100%); */
}

.nav.nav-footer {
	opacity: 0;
	visibility: hidden;
}

.nav .nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2.5rem 1.7rem 1rem;
	margin: auto;
	width: 100%;
	max-width: 1200px;
}

@media (min-width: 768px) {
	.nav .nav__container {
		justify-content: center;
		padding: 2rem;
	}
}

.nav .nav__container .nav__logo .nav_logo--img {
	display: block;
	margin: auto;
}

.nav .nav__container .nav__menu {
	background-color: var(--white);
	width: 50px;
	height: 50px;
	padding: 0.9rem;
	border-radius: 50%;
	outline: 0;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (min-width: 768px) {
	.nav .nav__container .nav__menu {
		display: none;
	}
}

.nav .nav__container .nav__menu .nav__menu--hamburguer__bar {
	width: 95%;
	height: 2px;
	outline: 0;
	display: block;
	border-radius: 10px;
	background-color: var(--very-dark-blue);
	transition: all 0.2s ease;
}

.nav .nav__container .nav__menu .nav__menu--hamburguer__bar:nth-child(2) {
	width: 75%;
}

.nav .nav__container .nav__menu .nav__menu--hamburguer__bar:last-child {
	width: 55%;
	margin-bottom: 0;
}

.nav .nav__container .nav__menu:hover .nav__menu--hamburguer__bar,
.nav .nav__container .nav__menu:focus .nav__menu--hamburguer__bar {
	width: 100%;
}

.nav .nav__container .nav__menu.closeMenu .nav__menu--hamburguer__bar {
	width: 100%;
}

.nav
	.nav__container
	.nav__menu.closeMenu
	.nav__menu--hamburguer__bar:first-child {
	transform: translateY(7px) rotate(45deg);
}

.nav
	.nav__container
	.nav__menu.closeMenu
	.nav__menu--hamburguer__bar:nth-child(2) {
	opacity: 0;
}

.nav
	.nav__container
	.nav__menu.closeMenu
	.nav__menu--hamburguer__bar:last-child {
	transform: translateY(-7px) rotate(-45deg);
}

.nav .nav__container .nav__links {
	flex: 1 0 100%;
	background-color: var(--white);
	margin: 1rem 0;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: var(--very-dark-blue);
	opacity: 0;
	transition: display 0.3s ease-in-out;
}

@media (min-width: 768px) {
	.nav .nav__container .nav__links {
		display: block;
		opacity: 1;
		background-color: transparent;
		flex: auto;
		margin: 0;
		color: var(--white);
	}
}

.nav .nav__container .nav__links.active {
	opacity: 1;
}

.nav .nav__container .nav__links .nav__links--list {
	margin: 2rem 0;
	padding: 0 1.5rem;
	transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
	.nav .nav__container .nav__links .nav__links--list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
	}

	.nav
		.nav__container
		.nav__links
		.nav__links--list
		.nav__links--list__item:hover
		.nav__links--list__item--sublist,
	.nav
		.nav__container
		.nav__links
		.nav__links--list
		.nav__links--list__item
		.nav__links--list__item--sublist:hover {
		display: block;
		opacity: 1;
		height: auto;
		visibility: visible;
	}
}

.nav
	.nav__container
	.nav__links
	.nav__links--list
	.nav__links--list__item--separator
	hr {
	background-color: var(--grayish-blue);
	margin: 2rem 0;
}

@media (min-width: 768px) {
	.nav
		.nav__container
		.nav__links
		.nav__links--list
		.nav__links--list__item--separator {
		display: none;
	}
}

.nav
	.nav__container
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.2rem;
	cursor: pointer;
}

@media (min-width: 768px) {
	.nav
		.nav__container
		.nav__links
		.nav__links--list
		.nav__links--list__item
		.nav__links--list__item--link {
		margin: 0;
	}
}

.nav
	.nav__container
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--link
	img {
	margin-left: 0.5rem;
	min-width: 0.8rem;
}

.nav
	.nav__container
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--sublist {
	background-color: var(--grayish-blue);
	padding: 0.5rem;
	margin: 0.5rem 0 1.5rem;
	height: 0;
	opacity: 0;
	visibility: hidden;
	display: none;
	transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
	.nav
		.nav__container
		.nav__links
		.nav__links--list
		.nav__links--list__item
		.nav__links--list__item--sublist {
		position: absolute;
		width: 150px;
		max-width: 150px;
		margin: 0;
		border-radius: 5px;
		background-color: var(--white);
		color: var(--very-dark-blue);
	}
}

.nav
	.nav__container
	.nav__links
	.nav__links--list
	.nav__links--list__item.active
	.nav__links--list__item--sublist {
	height: auto;
	opacity: 1;
	visibility: visible;
}

.nav
	.nav__container
	.nav__links
	.nav__links--list
	.nav__links--list__item
	.nav__links--list__item--sublist
	.nav__links--list__item--sublist__item {
	padding: 0.8rem 1rem;
	margin: 0.5rem 0;
	border-radius: 50px;
	width: 100%;
	font-size: 0.8rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
	.nav
		.nav__container
		.nav__links
		.nav__links--list
		.nav__links--list__item
		.nav__links--list__item--sublist
		.nav__links--list__item--sublist__item:hover {
		background-color: var(--grayish-blue);
	}
}

.nav
	.nav__container
	.nav__links
	.nav__links--list
	.nav__links--list__item--footer {
	margin-top: 1.5rem;
	cursor: pointer;
}

@media (min-width: 768px) {
	.nav
		.nav__container
		.nav__links
		.nav__links--list
		.nav__links--list__item--footer {
		margin-top: 0;
	}

	.nav .nav__container .nav__links .nav__links--list > li {
		margin: 0 1rem;
	}

	.nav .nav__container .nav__links .nav__links--list > li:nth-child(5) {
		margin-left: auto;
	}

	.nav .nav__container .nav__links .nav__links--list > li:nth-child(6) {
		margin: auto 1rem auto 2rem;
	}
}

/* Header */

.header {
	width: 100%;
	height: 90vh;
	margin-bottom: 10vh;
	background: linear-gradient(
		135deg,
		var(--gradient-very-light-red) 0%,
		var(--gradient-light-red) 100%
	);
	border-bottom-left-radius: 120px 100px;
	border: none;
	position: relative;
	overflow: hidden;
}

.header::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/bg-pattern-intro.svg) no-repeat left;
	background-position: 40%;
	background-size: 400%;
	filter: brightness(1.1);
}

.header .header__content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: var(--font-overpass);
	margin: auto;
}

.header .header__content .header__content--title {
	font-size: 2.3rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
	color: var(--white);
}

@media (min-width: 768px) {
	.header .header__content .header__content--title {
		font-size: 3rem;
	}
}

.header .header__content .header__content--subtitle {
	font-weight: 300;
	padding: 0.5rem;
	color: var(--white);
}

.header .header__content .header__content--buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-top: 5rem;
}

@media (min-width: 768px) {
	.header .header__content .header__content--buttons {
		justify-content: center;
	}

	.header .header__content .header__content--buttons button:nth-child(1) {
		margin-right: 3rem;
	}
}

/* Content section*/
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5rem auto auto auto;
	max-width: 1200px;
	width: 100%;
}

@media (min-width: 768px) {
	.section {
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 10rem;
		text-align: start;
	}

	.section.left,
	.section.right {
		position: relative;
	}
}

.section .section__header {
	width: 100%;
}

@media (min-width: 768px) {
	.section .section__header {
		width: 50%;
		position: absolute;
		left: 0;
		transform: translateX(-45%);
	}
}

.section .section__title,
.section .section__header .section__header--title {
	font-size: 1.7rem;
	margin: 1.5rem 0;
	padding: 0 1.5rem;
}

@media (min-width: 768px) {
	.section .section__title {
		flex: 0 0 100%;
	}
}

.section .section__content {
	margin-top: 1rem;
	padding: 1rem 2.5rem;
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.section.right .section__content {
		flex: 0 0 50%;
		order: 2;
		margin-right: auto;
	}

	.section.left .section__content {
		flex: 0 0 50%;
		order: 3;
		margin-left: auto;
	}	

	.section .section__img {
		position: absolute;
	}

	.section.right .section__img {
		flex: 0 0 50%;
		order: 3;
		right: 0;
		transform: translateX(45%);
	}

	.section.left .section__img {
		flex: 0 0 50%;
		order: 2;
	}

	.section .section__img img {
		max-width: 80%;
	}

	.section .section__header .section__header--img img {
		max-width: 120%;
	}
}

.section .section__content .section__content--section {
	margin: 1.5rem 0;
}

.section
	.section__content
	.section__content--section
	.section__content--section__title {
	font-size: 1.7rem;
}

.section
	.section__content
	.section__content--section
	.section__content--section__text {
	font-size: 1rem;
	line-height: 1.5;
	color: var(--very-dark-grayish-blue);
}

/* Section with image */
.ilustrator {
	position: relative;
	margin: 12rem 0 5rem;
	width: 100%;
	height: 80vh;
}

@media (min-width: 768px) {
	.ilustrator {
		margin: calc(7rem + 3vw) 0;
		height: auto;
	}
}

.ilustrator .ilustrator__header {
	position: absolute;
	top: -25%;
	z-index: 1;
}

@media (min-width: 768px) {
	.ilustrator .ilustrator__header {
		margin: auto;
		height: 100%;
		top: 0;
		left: calc(2% + 1vw);
		bottom: 25%;
	}

	.ilustrator .ilustrator__header img {
		display: block;
		width: 100%;
		margin: auto;
	}
}

.ilustrator .ilustrator__container {
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		135deg,
		var(--gradient-very-dark-gray-blue) 0%,
		var(--gradient-very-dark-desaturated-blue) 100%
	);
	border-top-right-radius: 120px;
	border-bottom-left-radius: 120px;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
}

@media (min-width: 768px) {
	.ilustrator .ilustrator__container {
		flex-direction: row;
		text-align: start;
		padding: 0 5rem;
	}
}

.ilustrator .ilustrator__container::before {
	position: absolute;
	top: -35%;
	width: 100%;
	height: 100%;
	content: '';
	background: url('../images/bg-pattern-circles.svg') no-repeat top center;
	background-size: 150%;
}

@media (min-width: 768px) {
	.ilustrator .ilustrator__container::before {
		background-position: 50% 80%;
		top: unset;
		left: -20%;
		background-size: 80%;
	}
}

.ilustrator .ilustrator__container .ilustrator__container--section {
	position: relative;
	margin-top: auto;
	padding: calc(4rem + 2vh) calc(2.5rem + 1vh);
}

@media (min-width: 768px) {
	.ilustrator .ilustrator__container .ilustrator__container--section {
		width: 50%;
		margin-left: auto;
		padding: calc(4rem + 2vw) calc(2.5rem + 1vw);
	}
}

.ilustrator .ilustrator__container .ilustrator__container--section__title {
	color: var(--white);
	font-size: 2.2rem;
}

.ilustrator
	.ilustrator__container
	.ilustrator__container--section__description {
	color: var(--white);
	font-size: 1.1rem;
	line-height: 1.7;
}

/* Footer */

.footer {
	background-color: var(--very-dark-black-blue);
	color: var(--white);
	text-align: center;
	padding: 6rem 2rem 5rem;
	display: flex;
	flex-direction: column;
	border-top-right-radius: 120px;
	margin-top: 3rem;
}

@media (min-width: 768px) {
	.footer {
		margin-top: 10rem;
		padding: 5rem 7rem;
		flex-direction: row;
		justify-content: center;
		justify-content: space-around;
	}
}
.footer .footer__header {
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.footer .footer__header {
		width: unset;
		margin: 0 5rem 0 0;
	}
}

.footer .footer__header img {
	display: block;
	margin: auto;
}

.footer .footer__content {
	margin-top: 3rem;
}

@media (min-width: 768px) {
	.footer .footer__content {
		flex: 1;
		margin: 0;
		padding: 0 2rem;
	}
}

.footer .footer__content .footer__content--list {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.footer .footer__content .footer__content--list {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
}

.footer .footer__content .footer__content--list .footer__content--list__item {
	margin-bottom: 3.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--white);
}

@media (min-width: 768px) {
	.footer .footer__content .footer__content--list .footer__content--list__item {
		margin: 0;
		font-size: 1rem;
		text-align: start;
	}
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item:last-child {
	margin-bottom: 0;
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item
	.footer__content--list__item--sublist {
	margin-top: 2rem;
	font-weight: 300;
	color: var(--grayish-blue);
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item
	.footer__content--list__item--sublist
	.footer__content--list__item--sublist__item {
	margin: 0.5rem 0;
}

.footer
	.footer__content
	.footer__content--list
	.footer__content--list__item
	.footer__content--list__item--sublist
	.footer__content--list__item--sublist__item:last-child {
	margin-bottom: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
	background-color: var(--very-dark-black-blue);
	color: var(--grayish-blue);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
